extends layout

block content
  h2= title

  div(style="width:100%;")
    p(id="text") Price per square meter: $#{price}
    p(hidden id="price") #{price}

    form(id="measure")
      strong Select a unit:
      input(type="radio" name="measure" value="mm")
      | mm 
      input(type="radio" name="measure" value="cm" checked)
      | cm 
      input(type="radio" name="measure" value="in")
      | inches

    p
      | Enter your 
      strong width: 
      input(type="text" id="width")
      br
      | Enter your 
      strong height/drop: 
      input(type="text" id="height")

    p
      | Is double layered? 
      input(type="checkbox" id="double" value='true')
    br

    script(type="text/javascript" src="/javascripts/calcscript2.js")

    button(type="button" onClick="calculate()")
      strong Click to calculate price.
    h3(id="final") Total Price: